.card {
    padding: 10px;
    border: 1px solid #999;
    border-radius: 10px;

    &__button {
        width: 100px;
        height: 40px;
        justify-content: center;
        font-style: 18px;
    }
}